<app-header></app-header>
<section id="about">
  <div class="container">
    <div class="about-content">
      <h2>Sobre Nós</h2>
      <p>
        Bem-vindo ao nosso espaço de compartilhamento e aprendizado! Esta plataforma foi criada com o propósito de facilitar o acesso a conteúdos acadêmicos, oferecendo um acervo de livros gratuitos e materiais desenvolvidos por alunos da faculdade.
      </p>
      <p>
        Acreditamos no poder do conhecimento compartilhado e no potencial de cada estudante em contribuir com o aprendizado coletivo. Aqui, você pode encontrar, baixar e até compartilhar suas próprias produções acadêmicas, ajudando outros estudantes a se aprofundarem em diferentes áreas do saber.
      </p>
      <p>
        Convidamos você a fazer parte da nossa comunidade, deixando comentários e interagindo com outros leitores, para que juntos possamos construir um ambiente de apoio e troca de ideias.
      </p>
      <a href="#" class="btn">Saiba Mais</a>
    </div>
    <div class="about-image">
      <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Sobre Nós" />
    </div>
  </div>
</section>
<app-footer></app-footer>