<footer>
    <div class="footer-content" >
      <div class="contact-info">
        <h2>Contato</h2>
        <p>Email: contato.com</p>
        <p>Telefone: (11) 1234-5678</p>
        <p>Endereço: Rua Exemplo, 123, Cidade</p>
      </div>
      <div class="quick-links">
        <h2>Links Rápidos</h2>
        <ul>
          <li><a routerLink="/sobre">Sobre Nós</a></li>
          <li><a routerLink="/politica">Política de Privacidade</a></li>
          <li><a routerLink="/termos">Termos de Serviço</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; {{ currentYear }} Minha Livraria. Todos os direitos reservados.</p>
    </div>
  </footer>
  