<header>
    <nav class="navbar">
      <div class="logo">
        <h1>UniReader</h1>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/">Início</a></li>
        <li><a routerLink="/livros">Livros</a></li>
        <li><a routerLink="/categorias">Categorias</a></li>
        <li><a routerLink="/contato">Contato</a></li>
        <li><a routerLink="/cadastrar">Cadastrar-se</a></li>
      </ul>
      <div class="search-bar">
        <input placeholder="Buscar livro..." type="text" name="text" class="input">
        <button>Buscar</button>
      </div>
    </nav>
  </header>
  