header {
  background-color: #645DD7;
  padding: 25px 28px;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      h1 {
        color: #ecf0f1;
        font-size: 24px;
        margin: 0;
        cursor: pointer;
      }
    }

    .nav-links {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
      position: relative; // Necessário para o posicionamento da lista suspensa

      li {
        margin: 0 15px;
        position: relative; // Para a lista de gêneros

        a {
          color: #ecf0f1;
          text-decoration: none;
          font-size: 16px;
          transition: color 0.3s;

          &:hover {
            color: #3498db;
          }
        }

        // Lista de gêneros
        .genre-list {
          display: none; // Oculta a lista por padrão
          position: absolute; // Posiciona a lista em relação ao item pai
          top: 100%; // Aparece logo abaixo do item
          left: 0;
          background-color: white; // Cor de fundo da lista
          border: 1px solid #ddd; // Borda da lista
          border-radius: 4px; // Cantos arredondados
          z-index: 1000; // Garante que a lista fique acima de outros elementos
          padding: 10px 0; // Espaçamento interno
        
          li {
            list-style: none; // Remove os marcadores da lista
            padding: 8px 16px; // Espaçamento interno dos itens
            cursor: pointer; // Muda o cursor para indicar que é clicável
        
            a {
              color: #000000; // Cor do texto apenas para os links da lista de gêneros
              text-decoration: none; // Remove o sublinhado
        
              &:hover {
                color: #3498db; // Cor ao passar o mouse apenas para os links da lista de gêneros
              }
            }
        
            &:hover {
              background-color: #f0f0f0; // Cor de fundo ao passar o mouse sobre o item da lista
            }
          }
        }

        // Exibe a lista ao passar o mouse sobre o item "Categorias"
        &:hover .genre-list {
          display: block; // Exibe a lista ao passar o mouse
        }
      }
    }

    .search-bar {
      display: flex;
      align-items: center;

      input[type="text"] {
        padding: 5px;
        border: none;
        border-radius: 4px;
        margin-right: 5px;

        &:focus {
          outline: none;
          border: 1px solid #3498db;
        }
      }

      button {
        padding: 6px 10px;
        border: none;
        border-radius: 4px;
        background-color: #b3fffc;
        color: #000000;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #2980b9;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;

      .nav-links {
        flex-direction: column;
        margin-top: 10px;

        li {
          margin: 5px 0;
        }
      }

      .search-bar {
        margin-top: 10px;
        width: 100%;
        input[type="text"] {
          width: 70%;
        }
      }
    }
  }
}

.input {
  width: 100%;
  max-width: 220px;
  height: 16px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

/* From Uiverse.io by elisapi */ 
.card {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 20px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(65, 29, 131);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
  border-radius: 30px;
}
/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
  transform: scale(1.2);
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
  transform: scale(1.2);
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.contact-card {
  position: absolute; // Permite que o card seja posicionado em relação ao item pai
  top: 15px; // Ajuste para posicionar acima do item "Contato"
  left: 0;
  background-color: white; // Cor de fundo
  border: 1px solid #ddd; // Borda
  border-radius: 4px; // Cantos arredondados
  z-index: 1000; // Garante que fique acima de outros elementos
  padding: 10px; // Espaçamento interno
  display: none; // Oculta por padrão
  width: max-content; // Ajusta a largura do card ao conteúdo
}

// Exibe o card ao passar o mouse sobre o item "Contato"
.contact-item:hover .contact-card {
  display: block; // Exibe o card ao passar o mouse
}