<header>
  <nav class="navbar">
    <div class="logo" routerLink="/initial">
      <h1>UniReader</h1>
    </div>
    <ul class="nav-links">
      <li><a routerLink="/home">Início</a></li>
      <li><a routerLink="/livros">Livros</a></li>
      <li (mouseenter)="toggleGenreList()" (mouseleave)="toggleGenreList()">
        <a routerLink="#">Gênero</a>
        <ul *ngIf="showGenreList" class="genre-list">
          <li *ngFor="let genero of generos" (click)="filterByGenero(genero)">
            <a href="#">{{ genero }}</a>
          </li>
        </ul>
      </li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/upload">Carregar livro</a></li>
      <li
        class="contact-item"
        (mouseenter)="showContactCard()"
        (mouseleave)="hideContactCard()"
      >
        <a href="#" class="contact-link">Contato</a>
        <div class="contact-card" *ngIf="isContactCardVisible">
          <div class="card">
            <a class="socialContainer containerOne" href="https://www.instagram.com/knevctt/">
              <img src="assets/svg/instagram.svg" class="socialSvg instagramSvg" alt="Instagram SVG">
            </a>
            <a class="socialContainer containerTwo" href="https://x.com/knevctt">
              <img src="assets/svg/twitter.svg" class="socialSvg twitterSvg" alt="Twitter/X SVG">
            </a>
            <a class="socialContainer containerThree" href="https://www.linkedin.com/in/knevctt/">
              <img src="assets/svg/linkedin.svg" class="socialSvg linkdinSvg" alt="LinkedIn SVG">
            </a>
            <a class="socialContainer containerFour" href="https://wa.me/45999150427">
              <img src="assets/svg/whatsapp.svg" class="socialSvg whatsappSvg" alt="WhatsApp SVG">
            </a>
          </div>
        </div>
      </li>
    </ul>
    <div class="search-bar">
      <input
        placeholder="Buscar livro..."
        type="text"
        [(ngModel)]="searchQuery"
        class="input"
      />
      <button (click)="searchBooks()">Buscar</button>
    </div>
  </nav>
</header>
