<app-header></app-header>
  
<div class="hero">
    <h2>Bem-vindo ao Portal Acadêmico</h2>
    <p>Aqui você pode fazer uploads e downloads de livros e revistas produzidas pela universidade.</p>
    <img src="/assets/images/book.png" alt="Imagem de Bem-vindo">
  </div>
  
  <div class="features">
    <div class="feature">
      <h3>Uploads</h3>
      <img src="/assets/images/upload.png" alt="Ícone de Upload">
      <p>Envie seus trabalhos acadêmicos facilmente.</p>
    </div>
    <div class="feature">
      <h3>Downloads</h3>
      <img src="/assets/images/download-icon.png" alt="Ícone de Download">
      <p>Acesse uma vasta biblioteca de materiais acadêmicos!</p>
    </div>
    <div class="feature">
      <h3>Contato</h3>
      <img src="/assets/images/contact-icon.png" alt="Ícone de Contato">
      <p>Entre em contato conosco facilmente para mais informações.</p>
    </div>



    <div class="container">
      <a class="button" routerLink="/home">Entrar Agora!</a>
    </div>
    
  <app-footer></app-footer>
  

  