<app-header (generoSelected)="filterBooks($event)" (searchQueryChanged)="searchBooks($event)"></app-header>
<div class="catalog">
  <h1>Nossos livros</h1>
  <div class="catalog-grid">
    <div class="catalog">
      <h1>Catálogo de Livros Disponíveis</h1>
      <div class="catalog-grid">
        <div class="book-card" *ngFor="let book of books">
          <img [src]="'data:image/jpeg;base64,' + book.imageData" alt="{{ book.title }}" />
          <!-- [src]="book.imageData" -->
          <h2 class="book-title">{{ book.title }}</h2>
          <p class="book-author">Autor: {{ book.author }}</p>
          <p class="book-author">Sinopse: {{ book.synopsis }}</p>
          <p><strong>Gênero:</strong> {{ book.genero }}</p>
          <button (click)="openModal(book)">Ver mais</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-info-modal [isVisible]="showModal" [selectedBookId]="selectedBookId">
</app-info-modal>

<app-footer></app-footer>
