<app-header (generoSelected)="filterBooks($event)" (searchQueryChanged)="searchBooks($event)"></app-header>
<div class="catalog">
  <h1>Catálogo de livros</h1>
  <div class="catalog-container">
    <!-- Sidebar com as checkboxes -->
    <div class="sidebar">
      <div class="checkbox-group">
        <h3>Categorias</h3>
        <br>
        <p>Aventura</p>
        <p>Ação</p>
      </div>
    </div>

    <!-- Área dos livros -->
    <div class="catalog-grid">
      <div class="book-card" *ngFor="let book of books">
        <img [src]="getImageUrl(book.imageData)" alt="{{ book.title }}" />
        <h2 class="book-title">{{ book.title }}</h2>
        <p class="book-author">{{ book.author }}</p>
        <button (click)="openModal(book)">Ver mais</button>
      </div>
    </div>
  </div>
</div>

<!-- Controles de Paginação -->
<div class="pagination-controls">
  <button (click)="previousPage()" [disabled]="page === 0">Anterior</button>
  <button *ngFor="let p of getPaginationArray()" (click)="goToPage(p)" [disabled]="p === page">{{ p + 1 }}</button>
  <button (click)="nextPage()" [disabled]="page >= totalPages - 1">Próximo</button>
</div>

<app-info-modal [isVisible]="showModal" [selectedBookId]="selectedBookId"></app-info-modal>

<app-footer></app-footer>
