<app-header></app-header>
<!-- privacy-policy.component.html -->
<section id="privacy-policy" class="content-section">
    <h2>Política de Privacidade</h2>
  
    <h3>1. Introdução</h3>
    <p>
      A proteção da sua privacidade é nossa prioridade. Este documento detalha como coletamos, usamos e protegemos suas informações enquanto você utiliza nossa plataforma de compartilhamento acadêmico.
    </p>
  
    <h3>2. Coleta de Informações</h3>
    <p>
      Coletamos informações como nome, e-mail e dados de navegação para melhorar sua experiência. Esses dados permitem personalizar a plataforma conforme suas preferências, oferecendo um ambiente mais interativo e intuitivo.
    </p>
  
    <h3>3. Uso e Compartilhamento de Dados</h3>
    <p>
      Seus dados pessoais são usados exclusivamente para fornecer uma experiência aprimorada e segura. Garantimos que:
    </p>
    <ul>
      <li>Os dados não são compartilhados com terceiros sem sua permissão, exceto em situações legais obrigatórias.</li>
      <li>Suas informações são protegidas contra acessos não autorizados.</li>
    </ul>
  
    <h3>4. Direitos do Usuário</h3>
    <p>
      Você tem total controle sobre suas informações, podendo solicitar a correção ou exclusão de dados a qualquer momento. Para exercer seus direitos, basta entrar em contato conosco.
    </p>
  
    <h3>5. Atualizações na Política de Privacidade</h3>
    <p>
      Esta política poderá ser revisada periodicamente para refletir mudanças na legislação ou em nossas práticas. Recomendamos que verifique as atualizações regularmente para manter-se informado.
    </p>
  </section>  
<app-footer></app-footer>
