<app-header></app-header>
<!-- terms-of-service.component.html -->
<section id="terms-of-service" class="content-section">
    <h2>Termos de Serviço</h2>
  
    <h3>1. Bem-vindo</h3>
    <p>
      Ao utilizar nossa plataforma, você concorda com os termos de uso aqui estabelecidos. Criamos um ambiente seguro para o compartilhamento de materiais acadêmicos gratuitos, incentivando uma comunidade de aprendizado colaborativo.
    </p>
  
    <h3>2. Diretrizes Gerais</h3>
    <ul>
      <li><strong>Respeito à Comunidade:</strong> Ao interagir na plataforma, promova um ambiente inclusivo e educacional, respeitando todos os usuários.</li>
      <li><strong>Propriedade Intelectual:</strong> Compartilhe apenas conteúdos para os quais você tem permissão, evitando a violação de direitos autorais.</li>
    </ul>
  
    <h3>3. Responsabilidades do Usuário</h3>
    <p> 
      Ao se registrar e usar nossa plataforma, você concorda em:
    </p>
    <ul>
      <li>Publicar conteúdos adequados e seguros para o ambiente acadêmico.</li>
      <li>Utilizar a plataforma estritamente para fins educativos, sem fins comerciais não autorizados.</li>
      <li>Respeitar as orientações e políticas estabelecidas para manter a qualidade e segurança do serviço.</li>
    </ul>
  
    <h3>4. Suspensão e Remoção de Conteúdo</h3>
    <p>
      Reservamo-nos o direito de suspender contas ou remover materiais que violem nossos Termos de Serviço. Medidas legais podem ser tomadas para garantir um ambiente de uso seguro para todos.
    </p>
  
    <h3>5. Atualizações nos Termos de Serviço</h3>
    <p>
      Estes Termos podem ser revisados periodicamente. Ao continuar utilizando nossa plataforma, você concorda em seguir as diretrizes atualizadas.
    </p>
  </section>
  
  <app-footer></app-footer>